<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">ECHOSOUL - Gửi thư</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>

<div th:replace="~{header :: headerNav('send')}"></div>

<div class="banner">

    <section class="page-section">
        <div class="letter-write-box"> <!-- paper -->
            <h2 class="section-title">Hãy viết những điều bạn muốn nói <3</h2>

            <form th:action="@{/letters/send}" method="post" th:object="${letter}">
                <textarea class="letter-textarea" th:field="*{content}" placeholder="Viết điều bạn muốn chia sẻ..." required></textarea>

                <label class="check-anon">
                    <input type="checkbox" name="anonymous" th:checked="${isAnonymous}"> Gửi ẩn danh
                </label>

                <button type="submit" class="button">Gửi Thư</button>
            </form>

            <div class="encouragement-box" th:if="${encouragement}">
                <h3>Lời Động Viên 💬</h3>
                <p class="encouragement-text" th:text="${encouragement}"></p>
            </div>
        </div>
    </section>

</div>

<footer>
    <p class="footer">© 2025 ECHOSOUL - </p>
</footer>


</body>
</html>
