<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập - ECHOSOUL</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header-left">
        <a th:href="@{/}">
            <img src="/images/logo.png" alt="Echosoul logo">
        </a>
    </div>
</header>

<div class="banner">
    <div class="page-center">
        <p class="intro-text" th:text="${intro}"></p>

        <div class="form-container login-container">
            <h2>ĐĂNG NHẬP</h2>
            <form th:action="@{/process-login}" method="post">
                <div th:if="${param.error}" class="error-message">
                    Sai tên đăng nhập hoặc mật khẩu!
                </div>

                <input type="text" name="username" placeholder="Tên đăng nhập" required>
                <input type="password" name="password" placeholder="Mật khẩu" required>

                <button type="submit">Đăng nhập</button>
            </form>
        <a class="back-home" th:href="@{/register}">Chưa có tài khoản? Đăng ký</a>
        <a class="back-home" th:href="@{/}">Về trang chủ</a>
        </div>
    </div>
</div>
</body>
</html>
