<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Echosoul - Viên Đá Của Bạn</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/js/script.js" defer></script>
</head>
<body>
<div th:replace="~{header :: headerNav('')}"></div>
<div class="banner">

    <p class="section-intro" th:text="${intro}"></p>

    <section>
        <h2 class="section-title" th:text="${title}"></h2>
        <div class="stones-container">
            <div th:each="stone : ${stones}" class="stone-card">
                <a th:href="@{'/stones/' + ${stone.stoneName}}">
                    <img th:src="@{'/images/stones/' + ${stone.stoneName} + '.png'}" alt="stone image">
                    <h3 th:text="${stone.stoneName}">Tên Đá</h3>
                </a>
                <p th:text="${stone.stoneFunction}">Chức năng của đá</p>
            </div>
        </div>
    </section>
</div>

<footer>
    <p>© 2025 ECHOSOUL - Nơi những tâm hồn đồng điệu gặp nhau</p>
</footer>
</body>
</html>
