<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Echosoul - Bạn</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header :: headerNav('home')"></div>
<div class="banner">
    <section class="stone-detail">
        <img th:src="@{'/images/stones/' + ${stone.stoneName} + '.png'}" alt="stone image">
        <div class="stone-info">
            <h2 th:text="${stone.stoneName}">Tên Đá</h2>
            <h3>Tác dụng</h3>
            <p th:text="${stone.stoneFunction}">Tác dụng và năng lượng tích cực của viên đá...</p>
            <h3>Thông điệp:</h3>
            <p th:text="${stone.stoneMessage}">Thông điệp của viên đá...</p>

            <form th:action="@{'/stones/select/' + ${stone.stoneId}}" method="post">
                <button type="submit" class="choose-btn">Chọn viên đá này</button>
            </form>
        </div>
    </section>
</div>
<footer>
    <p>© 2025 ECHOSOUL - Nơi những tâm hồn đồng điệu gặp nhau</p>
</footer>
</body>
</html>